.left {
  float: left;
}

.right {
  float: right;
}

p {
  margin-top: 10px;
}

pre {
  margin-top: 30px;
}

code {
  background-color: #F0F8FF;
}

pre {
  background-color: #F0F8FF;
}

h2 {
  margin-bottom:1%;
}

.font-90 {
  font-size:90%;
}

.font-80 {
  font-size:80%;
}

.font-70 {
  font-size:70%;
}

.font-60 {
  font-size:60%;
}

.font-50 {
  font-size:50%;
}